

/*this is the external style sheet that is used only to style the Quiz page */

#check {
margin:40px;
margin-top:60px;
cursor:pointer;
font-weight:bold;
font-size:40px;
font-family:Calibri;
}

.Answers
{
    margin-bottom:10px;
    margin-top:-10px;
    color:Black;
    display:  flex;
    width: 70%;
    flex-direction:  row;
    flex-wrap:  wrap;
    margin: 10px auto;
    justify-content:  center;
}

#Quiztitle{
text-align:center;
font-weight:bold;
font-size:50px
}

.wrong {display:none;float:left;/* margin-top:20px; */color:Red;width:  100%;margin-bottom:  15px;}

.correct {display:none;float:left;margin-top:20px;color:Green;width: 100%;margin-bottom: 15px;}

.AnswerImg{
height:50px;
width:50px;
}


p{
clear:both;
padding-top:10px;
margin-left:20px;

}

#scoreDis{
margin-left:40px;
font-size:30px;
}

#dropzone
{
height:40px;
width:80px;
border:1px solid white;
float:left;

}

#P10
{
height:50px;
width:600px;
padding-top:10px;
float:left;
}

#P10P1
{
float:left;
margin-left:20px;
padding-top:10px;
}

.Q10IMG
{
height:40px;
width:60px;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked+label {
    background-color: white;
    color: #333;
    font-weight:  bold;
    border-color: white;
}



.anwser-outer{

width: 45%;

margin: 5px;

/* border: 1px solid #9ba6ce; */

position:  relative;
}
  .label_options:hover{

background: #3c3cf3;

color: white;

border-color: #3c3cf3;
  }
  .label_options{
    display: inline-block;
    cursor: pointer;
    color: rgba(212, 210, 210, 0.73);
    text-align: center;
    font-weight: 100;
    padding: 10px;
    width: 100%;
    border: 1px solid #9ba6ce;
    height: 70px;
  }
.Question{
  color: white !important;
}
